@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    font-family: 'Fredoka', sans-serif;

    .video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: auto;
        z-index: 0;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 0.5;
        z-index: 1;
    }
  }
  
  /* Untuk mobile responsive */

  @media (max-width: 1024px) {
      header .video {
          width: auto;
          height: 100%;
      }
  }
  
  /* Jika browser tidak support HTML5 */
  
//   @media (max-width: 768px) {
//     header {
//         background: url('/img/banner.jpg') black no-repeat center center scroll;
//         background-size: cover;
//         background-position: center;
//         height: 100vh;
//     }
  
//     header .video {
//         display: none;
//     }
//   }
